.warp {
    margin: 30px auto;
}

.fn {
    margin: 20px;
    display: flex;
    gap: 20px;
}

.fn button {
    padding: 10px 20px;
    border: 0;
    background: #2e36a8;
    color: #fff;
    cursor: pointer;
}

.block {
    width: 200px;
    height: 200px;
    background: #dd6b6b;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    /* transition-duration: 5s; */
    animation-duration: 5s;
    position: relative;
}

.block.change-color {
    background: #000;
    color: #fff;
    left: 200px;
    animation-name: change-color2;
}

.block.property {
    transition-property: background-color;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 500px;
}

.info-item {
    width: 200px;
    height: 100px;
    background-color: #dedede;
    margin-bottom: 20px;
    transition: 1s;
}

.info-item.t1 {
    position: absolute;
    left: 0;
}

.info-item.t2 {
    position: absolute;
    top: 100px;
    right: 0;
    transition-delay: 1s;
}

.info-wrap.active .t1 {
    left: 50%;
}

.info-wrap.active .t2 {
    right: 50%;
}

.runrun {
    position: relative;
    left: 0;
    animation-name: runrun;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.cloud-block {
    width: 100%;
    height: 500px;
    background: #83d4da;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    display: flex;
}

.cloud {
    width: 250px;
    height: 100px;
    margin: 200px 200px;
    background: #fff;
    position: relative;
    border-radius: 500px;
    animation-name: cloud;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cloud::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    top: -40px;
    left: 48px;
    border-radius: 500px;
}

.cloud::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
    top: -60px;
    right: 30px;
    border-radius: 500px;
}



@keyframes cloud {
    0% {
        left: 0;
    }

    100% {
        left: 500px;
    }
}

@keyframes runrun {
    0% {
        left: 0;
    }

    100% {
        left: 300px;
    }
}

@keyframes change-color {
    from {
        background: #dd6b6b;
        color: #fff;
        left: 0;
    }

    to {
        background: #000;
        color: #fff;
        left: 200px;
    }
}



@keyframes change-color2 {
    0% {
        background: #dd6b6b;
        color: #fff;
        left: 0;
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        background: #000;
        color: #fff;
        left: 200px;
    }
}